<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Certificat de Scolarité</title>
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.css">

    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            margin: 40px;
        }
        .container {
            width: 500px;
            margin: auto;
            font-size: x-large;
        }
        .title {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }
        .subtitle {
            text-align: center;
            font-size: 18px;
        }
        .content {
            font-size: 16px;
            line-height: 1.5;
        }
        .signature {
            text-align: right;
            font-size: large;
            margin-bottom: 80px;
        }
        .slogan{
            font-family: 'Cursive', sans-serif;
            text-align: center;
        }
        .date{
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="col-md-2">
        <button type="button" 
        th:data-idetudiant="${etudiant.idEtudiants}" 
        onclick="saveCertficat('certificat', this.dataset.idetudiant)" 
        class="btn btn-block btn-outline-info btn-sm">PDF</button>

    </div>
    <div id="certificat" class="container">
        <div>
            <div class="title">REPOBLIKAN'I MADAGASIKARA</div>
            <div class="slogan"><u>Fitiavana-Tanindrazana-Fandrosoana</u></div>
            <p></p>
            <div class="content">
                <p>CIRCONSCRIPTION SCOLAIRE<br>
                <u>ANTANANARIVO AVARADRANO</u><br>
                COLLEGE D'ENSEIGEMENT GENERAL<br>
                <u>ANDRANOVELONA ILAFY</u><br>
                CODE N°103 070 018<br></p>
                <div class="subtitle"><u>CERTIFICAT DE SCOLARITE</u></div>
                    <p><span style="margin-left:80px;">Je Soussigné, ANDRIANARIMALALA Romeo Sedera,<span><br> Directeur du Collège d'Enseignement Général d'Andranoveiona Ilafy,<br> Antananarivo Avaradrano. Certifie que:</p>
                    <p><b style="font-size:17px;" th:text="${etudiant.nom}+' '+${etudiant.prenom}">NOM</b> <g th:if="${etudiant.genre}==F" >Née</g><g th:if="${etudiant.genre}==G" >Né</g> le <g th:text="${etudiant.dateNaissance}" >Date Naissance</g> à <g th:text="${etudiant.lieuNaissance}">Mahamasina</g> </p>
                    
                    <!-- Pour les filles -->
                    <th:block th:if="${etudiant.genre}=='F'">
                        <p th:if="${etudiant.nomPere != null and etudiant.nomPere != ''}" 
                        th:text="'Fille de : ' + ${etudiant.nomPere}"></p>
                        <p th:if="${etudiant.nomPere == null or etudiant.nomPere == ''}" 
                        th:text="'Fille de : ' + ${etudiant.nomMere}"></p>
                    </th:block>

                    <!-- Pour les garçons -->
                    <th:block th:if="${etudiant.genre}=='G'">
                        <p th:if="${etudiant.nomPere != null and etudiant.nomPere != ''}" 
                        th:text="'Fils de : ' + ${etudiant.nomPere}"></p>
                        <p th:if="${etudiant.nomPere == null or etudiant.nomPere == ''}" 
                        th:text="'Fils de : ' + ${etudiant.nomMere}"></p>
                    </th:block>

                    <!-- Affichage du nom de la mère si les deux noms sont présents -->
                    <p th:if="${etudiant.nomPere != null and etudiant.nomPere != ''} and ${etudiant.nomMere != null and etudiant.nomMere != ''}">
                    Et de : <span th:text="${etudiant.nomMere}"></span>
                    </p>
                    
                    <p>Adresse des Parents ou Tuteurs: <g th:text="${etudiant.adresseParent}">[Adresse]</g></p>
                    <p>Est élève de mon Etablissement du [Date] à ce jour, est</p> <p><g th:if="${etudiant.genre}==F">inscrite</g><g th:if="${etudiant.genre}==G">inscrit</g> au registre sous le numéro <b th:text="${etudiant.matricule}">Matricule</b> Classe de <g th:text="${etudiant.section.niveau.nom}">Classe</g></p>
                    <p>Année scolaire <g th:text="${etudiant.section.anneeScolaire.debut}+'-'+${etudiant.section.anneeScolaire.fin}">anneeScolaires</g> En foi de quoi, le présent certificat Lui est délivré pour servir ce que de droit.</p>
                    <p class="date">Fait à Andranovelona, le <g th:text="${date}">[Date]</g></p>
                </div>
            </div>
            <div class="signature">
                <p>Le Directeur</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../plugins/pdf/html2pdf.bundle.min.js"></script>
    <script>
        function topdfall(iddata) {
            const element = document.getElementById(iddata);
            element.style.display = '';
            const options = {
                filename: iddata + '.pdf',
                margin: 0,
                image: { type: 'png', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: {
                    unit: 'in',
                    format: 'a5',
                    orientation: 'portrait' // Changed to landscape
                }
            };
            html2pdf().set(options).from(element).save();
        }

        function saveCertficat(iddata, id_etudiant) {
            $.post("/etudiant/certificatScolarite", 
            {
                id_etudiant: id_etudiant
            },
            function(data, status) {
                topdfall(iddata);
            });
        }

    </script>
</body>
</html>

