<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Etudiant</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
    <body class="hold-transition sidebar-mini" style="margin-top: 25px;">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
  
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                          th:src="${etudiant.image}"
                          alt="Photo de l'étudiant">
                  </div>
  
                  <h3 class="profile-username text-center" th:text="${etudiant.nom}+' '+${etudiant.prenom}" ></h3>
  
                  <p class="text-muted text-center" th:text="'Matricule: '+${etudiant.matricule}+''+${etudiant.genre}"></p>
  
                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Classe:</b> <a class="float-right" th:text="${etudiant.section.niveau.nom}" ></a>
                    </li>
                    <li class="list-group-item">
                      <b>Section</b> <a class="float-right" th:text="${etudiant.section.section}">543</a>
                    </li>
                  </ul>
  
                  <a th:href="'/etudiant/certificat?id_etudiant='+${etudiant.idEtudiants}" class="btn btn-primary btn-block"><b>Certificat de scolarité</b></a>
                </div>
              </div>


              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">A propos</h3>
                </div>
                  <div class="card-body">
                  <strong><i class="fas fa-calendar-alt mr-1"></i> Date et lieu de Naissance</strong>
  
                  <p class="text-muted" th:text="${etudiant.dateNaissance}+' à '+ ${etudiant.lieuNaissance} " ></p>
  
                  <hr>
  
                  <strong><i class="fas fa-map-marker-alt mr-1"></i> Adresse</strong>
  
                  <p class="text-muted" th:text="${etudiant.adresse}"></p>
  
                  <hr>
  
                  <strong><i class="fas fa-pencil-alt mr-1"></i> Ecole Anterieur</strong>
  
                  <p class="text-muted" th:text="${etudiant.ecoleAnterieur}"></p>
  
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#information" data-toggle="tab">Information</a></li>
                    <li class="nav-item"><a class="nav-link" href="#avertissement" data-toggle="tab">Avertissements</a></li>
                    <li class="nav-item"><a class="nav-link" href="#absence" data-toggle="tab">Absences</a></li>
                    <li class="nav-item"><a class="nav-link" href="#modification" data-toggle="tab">Modification</a></li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="alert alert-danger alert-dismissible" th:if="${param.msg}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h6><i class="icon fas fa-ban"></i> Alert!</h6>
                    <g th:text="${param.msg}"></g>
                  </div>
                  <div class="alert alert-success alert-dismissible" th:if="${param.msgV}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h6><i class="icon fas fa-ban"></i> Alert!</h6>
                    <g th:text="${param.msgV}"></g>
                  </div>
                  <div class="tab-content">
                    <div class="active tab-pane" id="information">
                      <div class="post">
                        <div class="text-center">
                          <img class="profile-user-img img-fluid img-squard w-25"
                            th:src="${etudiant.qr}"
                            alt="QR CODE">
                        </div>
                        <p class="text-muted text-center">Scan moi</p>
                      </div>


                      <div class="post clearfix">
                        
                        <h3 class="profile-username text-center">Autre Information</h3>
                        
                        <strong><i class="fas fa-user-friends mr-1"></i> Parent </strong>
  
                        <p class="text-muted">
                          <span th:text="'Père: '+${etudiant.nomPere}"></span>
                          <br>
                          <span th:text="'Mère: '+${etudiant.nomMere}"></span>
                        </p>
                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Adresse du parent</strong>
        
                        <p class="text-muted" th:text="${etudiant.adresseParent}" ></p>
        
                        <hr>

                        <strong><i class="fas fa-phone mr-1"></i> Contact parent</strong>
        
                        <p class="text-muted" th:text="${etudiant.contactParent}"></p>
        
                        <hr>
                        <strong th:if="${etudiant.nomTuteur}!=null and ${etudiant.nomTuteur==''} " ><i class="fas fa-users mr-1"></i> Tuteur</strong>
        
                        <p th:if="${etudiant.nomTuteur}!=null" class="text-muted">
                          <span th:text="'Nom: '+${etudiant.nomTuteur}"></span>
                          <br>
                          <span th:text="'Adresse: '+${etudiant.adresseTuteur}"></span>
                          <br>
                          <span th:text="'Contact: '+${etudiant.contactTuteur}"></span>
                        </p>
                      </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="avertissement">
                      <h3 class="text-center">Avertissement 
                        <i class="fa fa-plus" id="showFormAvertisement" style="float: right;" onclick="showAvertissementForm()"></i>
                      </h3>
                      <form method="POST" action="/etudiant/avertissement" id="avertissementForm" style="display: none;">
                        <input type="hidden" th:value="${etudiant.idEtudiants}" name="id_etudiant">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="causeInput">Cause</label>
                                <input type="text" name="cause" class="form-control" id="causeInput" placeholder="Cause">
                              </div>
                            </div>
    
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="motifInput">Motif</label>
                                <input type="text" name="motif" class="form-control" id="motifInput" placeholder="Motif">
                              </div>
                            </div>
                            
                            <div class="col-md-4">
                              <button type="submit" class="btn btn-danger">Validé</button>
                            </div>
                        </div>
                      </form>

                      <div class="row">
                        <div class="col-md-6" th:each="avertissement : ${avertissements}">
                          <div class="card-danger">
                            <div class="card-header">
                              <h3 class="card-title" th:text="${avertissement.cause}"></h3>
                            </div>
                            <div class="card-body">
                              <strong><i class="fas fa-calendar-alt mr-1"></i> Date: </strong>
                              <p class="text-muted" th:text="${avertissement.date}" ></p>
                              <hr>
                              <strong><i class="fas fa-paint-brush mr-1"></i> Motif: </strong>
                              <p class="text-muted" th:text="${avertissement.motif} " ></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="tab-pane" id="absence">
                      <h3 class="text-center">Absences 
                        <i class="fa fa-plus" id="showFormAbsence" onclick="showAbsenceForm()" style="float: right;"></i>
                      </h3>
                      <div>
                        <form method="POST" action="/etudiant/absence" id="absenceForm" style="display: none;">
                          <input type="hidden" th:value="${etudiant.idEtudiants}" name="id_etudiant">
                          <div class="row align-items-center">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="dateDebutInput">Du</label>
                                  <input type="date" name="date_debut" class="form-control" id="dateDebutInput" placeholder="date debut">
                                </div>
                              </div>
  
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="motifInput">Motif</label>
                                  <textarea type="text" name="motif" class="form-control" id="motifInput" placeholder="Motif"></textarea>
                                </div>
                              </div>

                                <div class="col-md-4">
                                  <button type="submit" class="btn btn-warning">Validé</button>
                                </div>
  
                              <!-- <div class="col-md-4">
                                <button type="submit" class="btn btn-warning">Validé</button>
                              </div> -->
                          </div>
                        </form>
                      </div>
          
                      <div class="row">
                        <div class="col-md-6" th:each="absence : ${absences}">
                          <div class="card-warning">
                            <div class="card-header">
                              <h3 class="card-title" th:text="'du '+${absence.date_debut}+' au '+${absence.date_fin}"></h3>
                            </div>
                            <div class="card-body">
                              <strong><i class="fas fa-paint-brush mr-1"></i> Motif: </strong>
                              <p class="text-muted" th:text="${absence.motif} " ></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- /.tab-pane -->
  
                    <div class="tab-pane" id="modification">
                      <form method="POST" action="/etudiant/modification">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="nomInput">Nom</label>
                              <input type="hidden" name="id_etudiant" th:value="${etudiant.idEtudiants}">
                              <input type="text" th:value="${etudiant.nom}" name="nom" class="form-control" id="nomInput" placeholder="Nom de l'élève">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="prenomInput">Prénom</label>
                              <input type="text" th:value="${etudiant.prenom}" name="prenom" class="form-control" id="prenomInput" placeholder="Prénom de l'élève">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="naissanceInput">Date de naissance</label>
                              <input type="date" th:value="${etudiant.dateNaissance}" name="naissance" class="form-control" id="naissanceInput" placeholder="Date de naissance">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="lieuNaissance">Lieu de naissance</label>
                              <input type="text" th:value="${etudiant.lieuNaissance}" name="lieuNaissance" class="form-control" id="lieuNaissance" placeholder="Lieu de naissance">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputAdresse">Adresse</label>
                              <input type="text" th:value="${etudiant.adresse}" name="adresse" class="form-control" id="inputAdresse" placeholder="Adresse">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputPere">Père</label>
                              <input type="text" th:value="${etudiant.nomPere}" name="pere" class="form-control" id="inputPere" placeholder="Père">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputMere">Mère</label>
                              <input type="text" th:value="${etudiant.nomMere}" name="mere" class="form-control" id="inputMere" placeholder="Mère">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="inputTuteur">Tuteur </label>
                              <input type="text" th:value="${etudiant.nomTuteur}" name="tuteur" class="form-control" id="inputTuteur" placeholder="Tuteur">
                            </div>
                          </div>
                        </div>
                      
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="inputAdresseParent">Adresse Parent</label>
                              <input type="text" th:value="${etudiant.adresseParent}" name="adresseParent" class="form-control" id="inputAdresseParent" placeholder="adresse parent">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="inputAdresseTuteur">Adresse Tuteur</label>
                              <input type="text" th:value="${etudiant.adresseTuteur}" name="adresseTuteur" class="form-control" id="inputAdresseTuteur" placeholder="Adresse tuteur">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="inputContactParent">Contact Parent</label>
                              <input type="text" th:value="${etudiant.contactParent}" name="contactParent" class="form-control" id="inputContactParent" placeholder="Contact Parent">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="inputContactTuteur">Contact Tuteur</label>
                              <input type="text" th:value="${etudiant.contactTuteur}" name="contactTuteur" class="form-control" id="inputContactTuteur" placeholder="Contact Tuteur">
                            </div>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-right" style="margin-bottom: 10px;">
                        Validé
                       </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
          
        </div>
    </body>
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../dist/js/adminlte.min.js"></script>
    <script>
      function showAvertissementForm() {
        const showFormAvertisement = document.getElementById('showFormAvertisement'); 
        const form = document.getElementById('avertissementForm');
        form.style.display = 'block';
        showFormAvertisement.onclick = hideAvertissementForm;
        showFormAvertisement.className='fa fa-minus';
      }

      function hideAvertissementForm() {
          const showFormAvertisement = document.getElementById('showFormAvertisement'); 
          const form = document.getElementById('avertissementForm');
          form.style.display = 'none';
          showFormAvertisement.onclick = showAvertissementForm;
          showFormAvertisement.className='fa fa-plus';
      }
      
      function showAbsenceForm() {
        const showFormAvertisement = document.getElementById('showFormAbsence'); 
        const form = document.getElementById('absenceForm');
        form.style.display = 'block';
        showFormAbsence.onclick = hideAbsenceForm;
        showFormAbsence.className='fa fa-minus';
      }

      function hideAbsenceForm() {
          const showFormAbsence = document.getElementById('showFormAbsence'); 
          const form = document.getElementById('absenceForm');
          form.style.display = 'none';
          showFormAbsence.onclick = showAbsenceForm;
          showFormAbsence.className='fa fa-plus';
      }
    </script>
</html>