<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demande</title>
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="../../plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="../../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../../plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top: 15px;margin-left: 25%;">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" th:text="'Sections'" ></h3>
                </div>
                <div class="card-body">
                    <table id="data" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Section
                                </th>
                                <th>
                                    Liste des Elèves
                                </th>
                        </thead>
                        <tbody id="tbody">
                          <tr th:each="resultat : ${sections}">
                            <td th:text="${resultat.section}"></td>
                            <td>
                                <button type="button"
                                th:data-id-section="${resultat.idSection}" 
                                th:data-section="${resultat.section}" 
                                onclick="getDataEtudiant(this.dataset.idSection, this.dataset.section)"
                                class="btn btn-block btn-outline-info btn-sm">Voir</button>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div id="cardEtudiant" class="col-md-12" style="margin-top: 15px;">
            <div class="card">
                <div class="card-header">
                    <h3 id="titreListe" class="card-title" th:text="'Liste des étudiants'" ></h3>
                </div>
                <div class="card-body">
                    <table id="dataEtudiant" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Matricule
                                </th>
                                <th>
                                    Nom
                                </th>
                                <th>
                                    Prénom
                                </th>
                                <th>
                                    Classe
                                </th>
                                <th>
                                    Date de Naissance
                                </th>
                                <th>
                                    Genre
                                </th>
                                <th>
                                    Détails
                                </th>
                        </thead>
                        <tbody>
                            <div id="loadingSpinner" style="display: none;">
                                <i class="fas fa-circle-notch fa-spin"></i> Chargement...
                            </div>                            
                        </tbody>
                    </table>
                </div>
          </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../plugins/bootstrap/js/bootstrap.js"></script>
<script>

    function attendre(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function getDataEtudiant(id_section,section) {
        const titre=document.getElementById('titreListe');
        titre.textContent=`Liste des étudiants ${section}`
        const tableBody = document.querySelector("#dataEtudiant tbody");
        tableBody.innerHTML='';
        const loadingSpinner=document.getElementById('loadingSpinner');
        loadingSpinner.style.display='block';
        await attendre(1000)
        return new Promise(function(resolve, reject) {
            $.ajax({
            url: `/api/section/etudiants?id_section=${id_section}`,
            method: 'GET',
            success: function(response) {
                resolve(response);
                loadingSpinner.style.display='none';
                response.forEach(item => {
                    const row=document.createElement('tr');

                    const matriculeCell = document.createElement("td");
                    matriculeCell.textContent = item.etudiant.matricule;
                    row.appendChild(matriculeCell);

                    const nomCell = document.createElement("td");
                    nomCell.textContent = item.etudiant.nom;
                    row.appendChild(nomCell);

                    const prenomCell = document.createElement("td");
                    prenomCell.textContent = item.etudiant.prenom;
                    row.appendChild(prenomCell);

                    const classCell = document.createElement("td");
                    classCell.textContent = item.section.section;
                    row.appendChild(classCell);
                    
                    const naissCell = document.createElement("td");
                    naissCell.textContent = item.etudiant.dateNaissance;
                    row.appendChild(naissCell);

                    const genreCell = document.createElement("td");
                    genreCell.textContent = item.etudiant.genre;
                    row.appendChild(genreCell);

                    const detailCell = document.createElement("td");
                    detailCell.innerHTML = `
                        <a href="/etudiant/profil?id_etudiant=${item.etudiant.idEtudiants}" target="_blank">
                            <button class="btn btn-block btn-outline-info btn-sm" type="button">Info</button>
                        </a>`;
                    row.appendChild(detailCell);

                    tableBody.appendChild(row);

                });

            },
            error: function(error) {
                reject(error);
            }
            });
        });
  }
</script>
 </body>
</html>
